ul{
  list-style-type: none;
}


.selector, .style{
  margin: 10px 20px 10px 20px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 100px;
  box-shadow: 1px 2px;


}
.selector:hover, .style:hover{
  color:white;
  background-color: black;
  border: 1px solid white;
}

#final{
  margin-top: 50px;
}

.user-input{
  width:50%;
  display: inline-block;
  text-align: center;

}

label{
  margin-bottom: 10px;
}
#proofinput{
  height: 100px;
  vertical-align: top;

}

.color{
  margin: 5px 5px 5px 5px;
}

#colorRow{
  margin-top: 30px;
}


.Blue{
  background-color: #30b5e5;
  border: 1px solid #1e94bf;
}

.Green{
  background-color:#6acc78;
  border: 1px solid #52af60;
}

.Red{
  background-color:#e56b6b;
  border: 1px solid #af4949;
}

.Yellow{
  background-color: #f4ee42;
  border: 1px solid #cec92f;
}

.Purple{
  background-color: #c775ff;
  border: 1px solid #9f2ec1;
}

.Orange{
  background-color: #ed9040;
  border: 1px solid #b2601a;
}

.Pink{
  background-color: #fc97fa;
  border: 1px solid #d85db3;
}
